<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Libre+Baskerville:ital@1&family=Lora:ital@1&family=Montserrat:ital,wght@1,500&family=Pixelify+Sans&family=Raleway:wght@200&family=Roboto+Condensed&family=Vollkorn&family=Work+Sans&display=swap"
        rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="../style/Detail_Konsultasi.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <!-- Section Navbar -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><span class="text-warning">Bee</span>cara</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="contact.html">Contact Us</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
                        <li class="nav-item me-2">
                            <a class="nav-link" aria-current="page" href="register.html">Good Morning</a>
                        </li>
                        <li class="nav-item me-5 ">
                            <a class="btn btn-" style="background-color: #FAEED1;" aria-current="page"
                                href="profile.html">Illiyyin Akbar Ariyanto</a>
                        </li>
                        <li class="nav-item">
                            <a href=""><img src="../../local/profile.png" alt="" class="w-50"></a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>

    <!-- Section Navbar -->


    <!-- Section Content -->
    <div class="container-fluid">
        <div class="mt-4 p-5 mainSection text-dark rounded">
            <div class="row">
                <div class="col-md-5">
                    <div class="imageHero">
                        <div class="text-center">
                            <img src="../../assets/Rectangle 6.png" class="rounded img-size" alt="...">
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h1 class="text-center">Kesehatan Mental</h1>
                    <p class="text-start mt-3 fs-5">
                        Seringkali, masyarakat lebih mudah memahami dan memberikan perhatian terhadap kesehatan fisik,
                        tetapi kesehatan mental sama krusialnya. Pesan ini mengajak individu untuk menghilangkan stigma
                        terkait dengan mencari bantuan untuk masalah kesehatan mental dan menyoroti keberanian dalam
                        melakukan langkah-langkah perawatan diri.</p>

                    <p class="text-start mt-3 fs-5">
                        Menekankan bahwa mencari bantuan bukanlah tanda kelemahan, tetapi justru menunjukkan keberanian
                        untuk mengatasi tantangan. Pesan ini mengajak untuk menghargai dan merawat kesehatan mental
                        sebagaimana kita merawat kesehatan fisik, memberikan pengguna pesan positif bahwa mereka berhak
                        untuk memperhatikan dan merawat kesehatan mental mereka.</p>

                </div>
            </div>
        </div>
    </div>
    <!-- Section Content -->

    <!-- Footer -->
    <div class="footer">
        <p>with &hearts; by OctoPipers Team</p>
    </div>
    <!-- Footer -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
</body>

</html>